body{
    margin: 0%;
    padding: 0%;
    background: black;
}
.datetime{
    font-family: "Arial", Helvetica, sans-serif;
    text-align: center;
    font-size:72px;
    background-color: #333333;
    color: #fff;
    min-width: 380px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#date {
    letter-spacing:3px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}